/* ===================== AJOUTER ENFANT ===================== */

.add-child-container {
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    overflow: hidden;
    max-width: 860px;
    margin: 0 auto;
}

.form-part {
    flex: 1;
    padding: 40px;
}

.image-part {
    flex: 1;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-strip {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 58px;
    background-color: var(--primary-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yellow-strip span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 5px;
    font-family: 'Baloo 2';
    font-size: 1.2rem;
    color: var(--text-dark);
    font-weight: 900;
}

@media (max-width: 700px) {
    .image-part { display: none; }
}
